<!DOCTYPE html>
<!-- Load the static file -->
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
        <title>Register</title>

        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'custom_css/log_reg.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}">
        <script src="{% static 'bootstrap/js/ajax.js' %}"></script>
    </head>

    <body>
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title">REGISTER ACCOUNT</h3>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form method="POST" action="">
                            {% csrf_token %}

                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                {{form.username}}
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                                </div>
                                {{form.email}}
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                {{form.password1}}
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                {{form.password2}}
                            </div>

                            <div class="d-flex justify-content-center mt-3 login_container">
                                <!-- <input class="btn login_btn" type="submit" value="Create User">-->
                                <input class="btn btn-primary btn-sm btn-block" type="submit" value="Create User">
                            </div>

                            {{form.errors}}

                            <div class="mt-4">
                                <div class="d-flex justify-content-center links">
                                    Already have an account?
                                    <a class="ml-2" href="{% url 'login' %}">Login</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
        <!--    document.getElementById('id_password1').className = 'form-control';-->
        <!--    document.getElementById('id_password2').className = 'form-control';-->
            var form_fields = document.getElementsByTagName('input')

            form_fields[1].placeholder='Username...';
            form_fields[2].placeholder='Email...';
            form_fields[3].placeholder='Password...';
            form_fields[4].placeholder='Verify Password...';

            for (var field in form_fields){
                form_fields[field].className = 'form-control';
            }
        </script>
    </body>
</html>