body{
    background-color: #ebeff5;
}

#logo{}

#body_content{
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}

#total-orders{
    background-color: #4cb4c7;
}

#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7cd1c0;
}